attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==41.0.7
Cython==3.0.6
dl==0.1.0
docutils==0.20.1
filelock==3.13.1
HTMLParser==0.0.2
importlib_metadata==7.0.0
ipython==8.18.1
ipywidgets==8.1.1
pyvis==0.3.2
streamlit==1.29.0